/*Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@200&display=swap');

/*Asterisk wildcard to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #F7B787;
    font-family: 'Libre Baskerville', serif;
}

/* Header */
header {
   background-color: #527853;
   padding: 0 1rem;
   position: fixed;
   z-index: 99;
   width: 100%;
   box-shadow: 0 2px 2px black;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9E8D9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 30px;
}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #F7B787;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #527853;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}


/* Main content*/
main {
    background-color: #F9E8D9 ;
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: #F7B787 ;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header displayed */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accodate larger header */
        margin-top: 79px;
    }
}