/*Google fonts import */
  

/*Asterisk wildcard to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: ;
    /* Generic project styles */
    color: ;
    font-family: ;
}

/* Header */
header {
   

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: ;
    color: ;
}

/* Main content*/
main {
    background-color: ;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: ;
}git 